@media only screen and (max-width: 100000px) and (min-width: 500px){

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
}

/*stijlen die gelden voor alle pagina's*/

header {
    z-index: 200;
}

a {
    color: white;
    text-decoration: none;
    background-color: none;
    font-size: 1.1vw;
    margin-left: 5%;
    z-index: 200;
}


a:hover {
    color: #80b7e0;
    z-index: 400;
    text-decoration: underline;
}

.logo:hover {
    color: darkseagreen;
    z-index: 2;
    font-weight: lighter;
}

.logo {
    font-size: 1.5vw;
    z-index: 2;
}

li {
    display: inline;
    background-color: none;
    z-index: 20;

}

.navigation {
    background-color: black;
}

ul {
    list-style-type: none;
    padding: 1.5%;
    overflow: hidden;
    z-index: 2000;

}

.ik {
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    margin-top: 3%;
    =
}

.achter {
    position: absolute;
    top: 15%;
    width: 75%;
    margin-left: 14%;
}

h1 {
    width: 20%;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    margin-left: 40%;
    margin-top: 1%;
    color: white;
    z-index: 2;
}

p {
    width: 35%;
    font-size: 1.1vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    margin-left: 32.5%;
    margin-top: 1%;
    color: white;
    text-align: center;
    z-index: 2;
}

nav {
    position: fixed;
    width: 100%;
}

.zwart {
    background-color: #1b1c1c;
    padding-bottom: 2%;
    padding-top: 4%;
}

.pikzwart {
    padding-top: 1%;
    background-color: black;
    padding-bottom: 2.2%;
}

.skills {
    width: 25%;
    margin-top: 2%;
    margin-left: 37.5%;

}

.mijnwerk {
    background-color: #1b1c1c;
    padding-bottom: 1%;
    padding-top: 1%;
}

.vorm {
    width: 20%;
    margin-left: 0.5%;
    background-color: black;
}

.vorm:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.team {
    width: 20%;
    margin-left: 19.5%;
    background-color: black;
}

.team:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.individueel {
    width: 20%;
    margin-left: 0.5%;
    background-color: black;
}

.individueel:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;

}

.lijst1 {
    margin-top: 0;
    padding-bottom: 0%;
}

.lijst2 {
    margin-top: 0.5%;
    padding-top: 0;
}

.link {
    font-size: 0.000000001em;
    color: #1b1c1c;
    padding: none;
    margin: none;
}

.werklink {
    margin-left: 0%;
    color: white;
    text-decoration: none;
    background-color: none;
}

/*contactformulier*/

.titelcontact {
    background-color: black;
    margin-top: 1%;
}

form {
    background-color: black;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1%;
}

input[type=text] {
    background-color: #1b1c1c;
    width: 40%;
    font-weight: normal;
    font-size: 0.9vw;
    color: white;
    padding: 1.5% 1.5%;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    align-content: center;
}

input[type=submit] {
    background-color: #71b589;
    color: white;
    padding: 1.5% 1.5%;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    width: 42.5%;
    font-weight: normal;
    font-size: 0.9vw;
    align-content: center;
}

input[type=submit]:hover {
    background-color: #5f9976;

}

.container {
    border-radius: 2px;
    background-color: #f2f2f2;
}

input[type=reset] {

    background-color: #b78a48;
    color: white;
    padding: 1.5% 1.5%;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    font-weight: normal;
    font-size: 0.9vw;
    color: white;
    width: 42.5%;
    font-weight: normal;
    font-size: 0.9vw;
    align-content: center;
    margin-left: 4.5%
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=reset]:hover {
    background-color: #957b52;

}

textarea {
    background-color: #1b1c1c;
    color: white;
    padding: 1%;
    width: 88.2%;
    margin-top: 2%;
    border: none;
    box-sizing: border-box;
    resize: none;
    height: 15vw;
    padding: 1.5% 1.5%;
    margin-left: 1%;
    font-size: 0.9vw;
}

.mail {
    margin-right: 3.5%;
}

.naam {
    margin-left: 5.2%
}

/*footer*/

.footer {
    background-color: #1b1c1c;
}

.dewebsite {
    color: gray;
    text-decoration: none;
    background-color: none;
    font-size: 1.1vw;
    z-index: 200;
    width: 35%;
    font-size: 1.1vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    margin-left: 5%;
    margin-top: 1%;
    text-align: left;
    z-index: 2;
}

.afooter {
   margin-top: 5%;
    display: block;
       font-size: 1vw;
    
}

.footerlinkjes1 {
    display: inline-block;
    width: 5%;
    margin-bottom: 3.5%;
    margin-left: 5%;
}

.footerlinkjes2 {
    display: inline-block;
    width: 14%;
    margin-top: 1%;
    margin-left: 5%;
}

.contactfooter {
    margin-top: 5%;
    display: block;
    font-size: 1vw;
    margin-left: 5%;
    width: 100%;
    text-align: left;
}

.footerlinkjes3 {
    display: inline-block;
    width: 14%;
    margin-top: 1%;
    margin-left: 1.5%;
    margin-bottom: 7.25%
}

.footerlinkjes4 {
    display: inline-block;
    width: 14%;
    margin-top: 1%;
    margin-left: 1.5%;
    margin-bottom: 6.9%;
}

.afooter2 {
    margin-top: 15%;
    display: block;
    font-size: 1vw;
    
}

.facebook {
    width: 8%;
    margin-right: 5%;
}

.opvulling {
    width: 100%;
    height: 2vw;
    color: #1b1c1c;
}


/*artikel css*/

.banner {
    width: 100%;
    background-color: black;
    margin-top: 4%;
    margin-bottom: -2%;
}

.volgende {
    width: 2.5%;
    top: 16vw;
    left: 95vw;
    position: absolute;
}

.vorige {
    width: 2.5%;
    top: 16vw;
    right: 95vw;
    position: absolute;
}

.artikel {
    display: inline-block;
    width: 50%;
    margin-left: 6.4%;
}

.kopartikel {
    text-align: left;
    margin-left: 0;
    width:100%;
}

.infoartikel {
    text-align: left;
    color: grey;
    margin-left: 0;
    width: 100%;
}
.tekstartikel {
    text-align: left;
    margin-left: 0;
    width: 100%;
}

iframe {
    display: inline-block;
    margin-left: 15%;
}

.artikellayout {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.artikelmijnwerk {
    background-color: black;
    padding-bottom: 1%;
    padding-top: 1%;
}

.artikelvorm {
    width: 15%;
    margin-left: 0.5%;
    margin-bottom: 1%;
    background-color: #1b1c1c;
}

.artikelvorm:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.artikelteam {
    width: 15%;
    margin-left: ;
    background-color: #1b1c1c;
       margin-bottom: 1%;
     margin-left: 3%;
}

.artikelteam:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.artikelindividueel {
    width: 15%;
    margin-left: 0.5%;
    background-color: #1b1c1c;
       margin-bottom: 1%;
}

.artikelindividueel:hover {
    background-color: #66b3;
    transition: .6s ease-in-out;

}

.lijst1 {
    margin-top: 0;
    padding-bottom: 0%;
}

.lijst2 {
    margin-top: 0.5%;
    padding-top: 0;
}

.bekijkook {
    font-size: 1.5vw;
}

.artikellinkwerk {
    margin-left: 0;
}

.pdf {
    width: 12.5%;
    margin-top: 1%;
}

.iframewebsite {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 0%;
}

.iframeyoutube {
    margin-left: 57%;
    display: inline-block;
    margin-top: 0%;
}

.poster {
    width: 100%;
}

@media only screen and (max-width: 500px) and (min-width: 1px){
    
    @media only screen and (max-width: 1000px) and (min-width: 500px){

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
}

/*stijlen die gelden voor alle pagina's*/

header {
    z-index: 200;
}

a {
    color: white;
    text-decoration: none;
    background-color: none;
    font-size: 2.5vw;
    margin-left: 6%;
    z-index: 200;
}


a:hover {
    color: #80b7e0;
    z-index: 400;
    text-decoration: underline;
}

.logo:hover {
    color: darkseagreen;
    z-index: 2;
    font-weight: lighter;
}

.logo {
    font-size: 2.5vw;
    z-index: 2;
}

li {
    display: inline;
    background-color: none;
    z-index: 20;

}

.navigation {
    background-color: black;
}

ul {
    list-style-type: none;
    padding: 2%;
    overflow: hidden;
    z-index: 2000;

}

.ik {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 6%;
    =
}

.achter {
    position: absolute;
    top: 10%;
    width: 90%;
    margin-left: 5%;
}

h1 {
    width: 20%;
    text-align: center;
    font-size: 4vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    margin-left: 40%;
    margin-top: 1%;
    color: white;
    z-index: 2;
}

p {
    width: 70%;
    font-size: 2.6vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    margin-left: 15%;
    margin-top: 1%;
    color: white;
    text-align: center;
    z-index: 2;
}

nav {
    position: fixed;
    width: 100%;
}

.zwart {
    background-color: #1b1c1c;
    padding-bottom: 2%;
    padding-top: 4%;
}

.pikzwart {
    padding-top: 1%;
    background-color: black;
    padding-bottom: 2.2%;
}

.skills {
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;

}

.mijnwerk {
    background-color: #1b1c1c;
    padding-bottom: 1%;
    padding-top: 1%;
}

.vorm {
    width: 30%;
    margin-left: 0.5%;
    background-color: black;
}

.vorm:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.team {
    width: 30%;
    margin-left: 3%;
    background-color: black;
}

.team:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.individueel {
    width: 30%;
    margin-left: 0.5%;
    background-color: black;
}

.individueel:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;

}

.lijst1 {
    margin-top: 0;
    padding-bottom: 0%;
}

.lijst2 {
    margin-top: 0.5%;
    padding-top: 0;
}

.link {
    font-size: 0.000000001em;
    color: #1b1c1c;
    padding: none;
    margin: none;
}

.werklink {
    margin-left: 0%;
    color: white;
    text-decoration: none;
    background-color: none;
}

/*contactformulier*/

.titelcontact {
    background-color: black;
    margin-top: 1%;
}

form {
    background-color: black;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 1%;
}

input[type=text] {
    background-color: #1b1c1c;
    width: 40.5%;
    font-weight: normal;
    font-size: 2.2vw;
    color: white;
    padding: 1.5% 1.5%;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    align-content: center;
}

input[type=submit] {
    background-color: #71b589;
    color: white;
    padding: 1.5% 1.5%;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    width: 42.5%;
    font-weight: normal;
    font-size: 2.2vw;
    align-content: center;
}

input[type=submit]:hover {
    background-color: #5f9976;

}

.container {
    border-radius: 2px;
    background-color: #f2f2f2;
}

input[type=reset] {

    background-color: #b78a48;
    color: white;
    padding: 1.5% 1.5%;
    border: none;
    cursor: pointer;
    margin-top: 2%;
    font-weight: normal;
    font-size: 2.2vw;
    color: white;
    width: 42.5%;
    font-weight: normal;
    font-size: 2.2vw;
    align-content: center;
    margin-left: 4.5%
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=reset]:hover {
    background-color: #957b52;

}

textarea {
    background-color: #1b1c1c;
    color: white;
    padding: 1%;
    width: 88.2%;
    margin-top: 2%;
    border: none;
    box-sizing: border-box;
    resize: none;
    height: 15vw;
    padding: 1.5% 1.5%;
    margin-left: 1%;
    font-size: 2.2vw;
}

.mail {
    margin-right: 3.5%;
}

.naam {
    margin-left: 5.2%
}

/*footer*/

.footer {
    background-color: #1b1c1c;
}

.dewebsite {
    color: gray;
    text-decoration: none;
    background-color: none;
    font-size: 2.2vw;
    z-index: 200;
    width: 170%;
    font-size: 2.2vw;
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    margin-left: 5%;
    margin-top: %;
    text-align: left;
    z-index: 2;
}

.afooter {
   margin-top: 8%;
    display: block;
       font-size: 2.2vw;
    
}

.footerlinkjes1 {
    display: inline-block;
    width: 5%;
    margin-bottom: 3.5%;
    margin-left: 5%;
}

.footerlinkjes2 {
    display: inline-block;
    width: 14%;
    margin-top: 1%;
    margin-left: 5%;
}

.contactfooter {
    margin-top: 5%;
    display: block;
    font-size: 2.2vw;
    margin-left: 5%;
    width: 100%;
    text-align: left;
}

.footerlinkjes3 {
    display: inline-block;
    width: 14%;
    margin-top: 1%;
    margin-left: 1.5%;
    margin-bottom: 7.25%
}

.footerlinkjes4 {
    display: inline-block;
    width: 14%;
    margin-top: 1%;
    margin-left: 1.5%;
    margin-bottom: 6.9%;
}

.afooter2 {
    margin-top: 15%;
    display: block;
    font-size: 2.2vw;
    width: 150%;
    
}

.facebook {
    width: 15%;
    margin-right: 5%;
}

.opvulling {
    width: 100%;
    height: 2vw;
    color: #1b1c1c;
}


/*artikel css*/

.banner {
    width: 100%;
    background-color: black;
    margin-top: 4%;
    margin-bottom: -2%;
}

.volgende {
    width: 2.5%;
    top: 16vw;
    left: 95vw;
    position: absolute;
}

.vorige {
    width: 2.5%;
    top: 16vw;
    right: 95vw;
    position: absolute;
}

.artikel {
    display: inline-block;
    width: 50%;
    margin-left: 6.4%;
}

.kopartikel {
    text-align: left;
    margin-left: 0;
    width:100%;
}

.infoartikel {
    text-align: left;
    color: grey;
    margin-left: 0;
    width: 100%;
}
.tekstartikel {
    text-align: left;
    margin-left: 0;
    width: 100%;
}

iframe {
    display: inline-block;
    margin-left: 15%;
}

.artikellayout {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.artikelmijnwerk {
    background-color: black;
    padding-bottom: 1%;
    padding-top: 1%;
}

.artikelvorm {
    width: 15%;
    margin-left: 0.5%;
    margin-bottom: 1%;
    background-color: #1b1c1c;
}

.artikelvorm:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.artikelteam {
    width: 15%;
    margin-left: ;
    background-color: #1b1c1c;
       margin-bottom: 1%;
     margin-left: 3%;
}

.artikelteam:hover {
    background-color: #6692b3;
    transition: .6s ease-in-out;
}

.artikelindividueel {
    width: 15%;
    margin-left: 0.5%;
    background-color: #1b1c1c;
       margin-bottom: 1%;
}

.artikelindividueel:hover {
    background-color: #66b3;
    transition: .6s ease-in-out;

}

.lijst1 {
    margin-top: 0;
    padding-bottom: 0%;
}

.lijst2 {
    margin-top: 0.5%;
    padding-top: 0;
}

.bekijkook {
    font-size: 1.5vw;
}

.artikellinkwerk {
    margin-left: 0;
}

.pdf {
    width: 12.5%;
    margin-top: 1%;
}

.iframewebsite {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 0%;
}

.iframeyoutube {
    margin-left: 57%;
    display: inline-block;
    margin-top: 0%;
}

.poster {
    width: 100%;
    
        }
        
    }
    
    
    


    